body {
    margin: 0;
    padding: 0;
    background-image: url("../img/logo-2.png");
    background-size: cover;
    background-color: #57b6b8;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .header {
    background-color: #fbe8a6;
    margin: 0;
    padding: 0;
    height: 10vh;
    text-align: center;
  }
  .header-icon {
    height: 16vh;
  }
  
  .content-body {
    height: 78vh;
  }
  footer {
    height: 12vh;
    background-color: #fbe8a6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-left-icon {
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: rgb(251, 225, 191);
    border-right: 2.5px solid #faf1f1;
    border-top: 2px solid #faf1f1;
    border-left: 3px solid #8f8f8f;
    border-bottom: 3px solid #8f8f8f;
    margin: 0px 10px;
    /**/
    background-color: #fbe8a6;
  }
  .footer-left-icon img {
    height: 100%;
    width: 100%;
  }
  .menu-icon {
    margin: 0px 60px;
    width: 50px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    color: #0201ff;
    font-size: 20px;
  }
  
  .right {
    display: flex;
    justify-content: space-between;
  }
  .dob-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 165px;
    height: 45px;
    border-right: 3.5px solid #8f8f8f;
    border-top: 3px solid #8f8f8f;
    border-left: 3px solid #faf1f1;
    border-bottom: 2.5px solid #faf1f1;
    margin: 0px 10px;
    font-size: 20px;
  }
  .dob-icon img {
    height: 70%;
  }
  .home-icon {
    border-right: 3.5px solid #8f8f8f;
    border-top: 3px solid #8f8f8f;
    border-left: 3px solid #faf1f1;
    border-bottom: 2.5px solid #faf1f1;
  }
  .right-icon {
    margin: 0px 20px;
    width: 45px;
    height: 45px;
  }
  
  .right-icon img {
    height: 100%;
    width: 100%;
  }
  .content-body {
    display: grid;
    grid-template-columns: 5fr 2fr;
  }
  
  .card {
    box-shadow: -15px 14px 0px -2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -15px 14px 0px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: -15px 14px 0px -2px rgba(0, 0, 0, 1);
    width: 120vh;
    height: 62vh;
    background: #dddcdc;
    margin: 30px 0px 30px 18%;
    padding: 20px;
    overflow: scroll;
  }
  .card-title {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 2fr;
    align-items: center;
  }
  
  .close {
    height: 100%;
    width: 100%;
  }
  .title-content {
    font-size: 40px;
    text-align: center;
    /*font style*/
    color: #d94169;
  }
  .line {
    height: 2px;
    background-color: #8f8f8f;
    margin: 8px;
  }
  .title-icon-container {
    display: flex;
  }
  .title-icon {
    margin: 12px;
    text-align: center;
    border: 2px solid #000;
    height: 40px;
    width: 40px;
  }
  
  .right-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-contain {
    padding: 20px;
    text-align: center;
  }
  .right-text {
    font-size: 30px;
    color: rgb(248, 248, 52);
  }
  .right-img {
    width: 60px;
    height: 60px;
  }
  .card-body {
    width: 100%;
    height: 85%;
    border: 3px solid #0d0d0d;
    /*display:grid
    grid-template-columns: 1fr 2fr;*/
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .card-body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .card-header {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #1b78f2;
  }
  .edu {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .edu-title {
    font-size: 24px;
    text-align: right;
    text-decoration: underline;
    color: #d94169;
  }
  .edu-right-title {
    font-size: 20px;
    padding: 7px;
    margin-left: 20px;
    color: #1b78f2;
  }
  .letter {
    padding: 0px 20px;
    margin-left: 20px;
    color: #d94169;
  }
  .scales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .scales div {
    text-align: center;
  }
  .scale-header {
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
    margin-top: 30px;
  }
  .scale-letter {
    font-size: 18px;
    line-height: 18px;
    margin: 5px;
    color: #1b78f2;
  }
  .whatapp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 165px;
    height: 45px;
    border-right: 2.5px solid #faf1f1;
    border-top: 2px solid #faf1f1;
    border-left: 3px solid #8f8f8f;
    border-bottom: 3px solid #8f8f8f;
    margin: 0px 10px;
    font-size: 20px;
  }
  .whatapp img {
    height: 70%;
  }
  
  @media (max-height: 767px) {
    .card {
      width: 80%;
    }
    .card-body {
      height: 86%;
    }
  }
  
  @media (min-height: 768px) {
    .card {
      width: 80%;
    }
    .card-body {
      height: 90%;
    }
  }
  